.More {
  width: 290px;
  height: 270px;
  padding: 5px;
  background-color: rgb(236, 235, 235);
}

.More-one {
  font-size: 0.9rem;
  font-weight: 500;
  color: blueviolet;
  padding: 5px;
  margin-right: 5px;
}

.More-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
